@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Red+Rose&display=swap');

.note{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #f2cc8f;
  margin-bottom: 5rem;
}
.note-text{
    margin: auto;
    font-size: 2rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
/* font-family: 'Red Rose', cursive; */
    
}
.note-text h2,.note-text p,.note-text a{
    padding: 1rem;
}
.note-text a{
  font-size: 1.7rem;
}

.btn,.ocean-content a{
    cursor: pointer;
    border: 2px ;
    margin: 2rem;
    width: 50%;
    
  
    border-radius: 2rem;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    background: #d00000;
    font-size: 1rem;
    padding: 0.7rem ;
}
.first-grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));;
  grid-gap: 20px;
  margin: 2rem 2rem
  
}
.grid-img{
  height: 250px;
}
.first-grid-container h3,.first-grid-container p{
  margin: 5px;

}
.first-grid-container a{
  display: inline-block;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px ;
}
.ocean{
  margin: 3rem;
  background-image: url(../img/jb.jpg);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.ocean-content{
  text-align: center;
  font-size: 1rem;
  color: #fff;
  width: 50%;
  
  
}
.ocean-content h3,.ocean-content p{
  padding: 1rem;
}
.ocean-content a{
  width: 30%;
}
@media (max-width:500px){
  
  .ocean-content{
    text-align: center;
    font-size: .5rem;
    width: 100%;
  }
  .ocean-content a{
    width: 50%;
  }
}
